:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--very-light-gray);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 5.625rem 1.875rem;
}

p {
  color: var(--grayish-blue);
}

h1,
h2 {
  color: var(--very-dark-blue);
  font-weight: 600;
}

header {
  max-width: 520px;
  text-align: center;
  margin: 0 auto 4rem auto;
}

h1 {
  margin-bottom: 1.5rem;
}

h1 span {
  font-weight: 300;
  display: block;
}

.bloc {
  max-width: 350px;
  padding: 2.125rem 1.875rem;
  border-radius: 10px;
  background-color: #fff;
  border-top: 4px solid;
  box-shadow: 2px 5px 20px rgb(0 0 0 / 10%);
}

h2 {
  margin-bottom: 1rem;
}

.bloc p {
  margin-bottom: 2.5rem;
  font-size: 0.8rem;
}

.bloc .icon {
  text-align: right;
}

.bloc-supervisor {
  border-color: var(--cyan);
}
.bloc-team {
  border-color: var(--red);
  margin-bottom: 1.625rem;
}
.bloc-karma {
  border-color: var(--orange);
}
.bloc-calculator {
  border-color: var(--blue);
}

@media only screen and (min-width: 1024px) {
  .blocs {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .blocs {
    text-align: center;
  }

  .bloc {
    display: inline-block;
    margin-bottom: 1.25rem;
  }

  .vertical-blocs {
    display: inline;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  .bloc {
    margin: 0 auto 1.25rem auto;
    padding: 1.5rem 1.875rem;
  }
}
